# Трудоустройство выпускников Яндекс.Практикума. Предобработка данных

## Библиотеки

In [1]:
import pandas as pd
from datetime import datetime
import pytz

import warnings
warnings.filterwarnings('ignore')

## Загрузка набора данных

In [2]:
df = pd.read_csv('Исследование выпускников ЯП.csv')
# файл .csv должен лежать в той же директория, что и проект .ipynb

In [3]:
df.head(3)

,Отметка времени,Твой пол,Твой возраст,Твоё образование,Твоё образование релевантно новой профессии,Программа обучения ЯП,"Номер твоей когорты (в которой начинал обучение, только цифры)",Год окончания обучения,"Ты закончил в той же когорте, что и начинал?",Насколько сложно было проходить обучение?,Изучал ли доп.материалы помимо программы курса?,У тебя есть опыт работы? Он релевантен новой профессии?,Ты нашел работу по новой профессии?,Когда ты начал искать новую работу?,"Сколько времени понадобилось на поиск (для тех, кто нашел работу/стажировку)?",Чем пользовался для поиска работы?,Что в итоге сработало?
0,2023/09/04 6:56:14 PM GMT+3,Мужской,20 - 30 лет,Высшее - специалитет,Не релевантно,DS,3,2023,Да,"Было терпимо, иногда прибегал к помощи одногру...","Да, изучил все рекомендации от ревьюеров/наста...","Да, есть опыт работы, но не релевантный","Нет, но ищу","Спустя какое-то время, после обучения","Не нашел, но ищу",HH,"Не нашел, но ищу"
1,2023/09/04 6:56:19 PM GMT+3,Женский,30 - 40 лет,Высшее - магистратура,Релевантно сфере IT,DS,8,2023,Нет,Всё было понятно и легко,"Да, читаю статьи по интересующим темам","Да, есть опыт работы, но не релевантный","Нет, но ищу",Сразу после окончания обучения,"Не нашел, но ищу",HH;SuperJob;LinkedIn;Хабр Карьера;Careerspace;...,"Не нашел, но ищу"
2,2023/09/04 6:56:21 PM GMT+3,Мужской,30 - 40 лет,Высшее - специалитет,Релевантно сфере IT,DS,41,2022,Да,"Было терпимо, иногда прибегал к помощи одногру...","Да, изучил все рекомендации от ревьюеров/наста...","Да, есть опыт работы, но не релевантный","Да, нашел новую работу",Сразу после окончания обучения,1 - 3 месяца с начала поиска,HH,"Агрегаторы вакансий (HH, SuperJob, Работа.Ру)"

## Названия столбцов

В наборе данных вопросы исследования являются названиями для столбцов. Для дальнейшей работы из следует переименовать.

__Изменение названий для столбов:__
- `dttime` - 'Отметка времени' (Московское время)
- `gender` - 'Твой пол'
- `age` - 'Твой возраст'
- `education` - 'Твоё образование'
- `it_education` - 'Твоё образование релевантно новой профессии'
- `yp_course` - 'Программа обучения ЯП'
- `cohort` - 'Номер твоей когорты (в которой начинал обучение, только цифры)'
- `graduation_year` - 'Год окончания обучения'
- `academ` - 'Ты закончил в той же когорте, что и начинал?'
- `complexity` - 'Насколько сложно было проходить обучение?'
- `extra_materials` - 'Изучал ли доп.материалы помимо программы курса?'
- `experience` - 'У тебя есть опыт работы? Он релевантен новой профессии?'
- `employment` - 'Ты нашел работу по новой профессии?'
- `search_start` - 'Когда ты начал искать новую работу?'
- `search_period` - 'Сколько времени понадобилось на поиск (для тех, кто нашел работу/стажировку)?'
- `search_tools` - 'Чем пользовался для поиска работы?'
- `worked_tool` - 'Что в итоге сработало?'

In [4]:
df = df.rename(columns={'Отметка времени': 'dttime', 
                        'Твой пол': 'gender', 
                        'Твой возраст': 'age', 
                        'Твоё образование': 'education', 
                        'Твоё образование релевантно новой профессии': 'it_education', 
                        'Программа обучения ЯП': 'yp_course', 
                        'Номер твоей когорты (в которой начинал обучение, только цифры)': 'cohort', 
                        'Год окончания обучения': 'graduation_year', 
                        'Ты закончил в той же когорте, что и начинал?': 'academ', 
                        'Насколько сложно было проходить обучение?': 'complexity', 
                        'Изучал ли доп.материалы помимо программы курса?': 'extra_materials', 
                        'У тебя есть опыт работы? Он релевантен новой профессии?': 'experience', 
                        'Ты нашел работу по новой профессии?': 'employment', 
                        'Когда ты начал искать новую работу?': 'search_start', 
                        'Сколько времени понадобилось на поиск (для тех, кто нашел работу/стажировку)?': 'search_period', 
                        'Чем пользовался для поиска работы?': 'search_tools', 
                        'Что в итоге сработало?': 'worked_tool'
                       })

## Поиск ошибок и редактирование данных

Как заполнялись столбцы в опросе:
- `date_time` - __авто дата текстом__
- `gender` - выбор
- `age` - выбор
- `education` - выбор
- `it_education` - выбор
- `yp_course` - выбор
- `cohort` - __ответ вписывается вручную! возможны ошибки__
- `graduation_year` - __ответ вписывается вручную! возможны ошибки__
- `academ` - да/нет
- `complexity` - выбор
- `extra_materials` - выбор
- `experience` - выбор
- `employment` - выбор
- `search_start` - выбор
- `search_period` - выбор текст (может цифрами?)
- `search_tools` - __мультивыбор__ создать отдельную таблицу
- `worked_tool` - выбор

In [5]:
#посмотрим списки уникальных значений в столбцах с ручным вводом данных
for column in ['cohort', 'graduation_year']:
    print('\033[4m' + '\033[1m' + column + '\033[0m', ':', sep='')
    print(*df[column].unique(), sep=', ')
    print()

cohort:
3, 8, 41, 16, 39, 60, 67, 54, 66, 61, 56, Долго искать, 55, 64, 32, 08, 57, 9, 63, 33, DS31, 52, 50, 58, 35, 26, 14, 53, 65, 31, 25, 46, 45, 44, 13, 68, 59, 36, 42, 38, 40, 48, 49, 37

graduation_year:
2023, 2022, 2013, 2021, 23, 22

In [6]:
# если только текст, заменить на 0 (равноценно пропуску в данных)
# убрать первые нули
# убрать буквы, если они есть
df['cohort'] = (df['cohort']
                 .replace('^\D+$', '0', regex=True)
                 .replace('^0+\B', '', regex=True)
                 .replace('^\D+\B', '', regex=True)
                )

In [7]:
# тут довольно грубая обработка, лучше сделать потом подругому
df.loc[df['graduation_year'] == 23, 'graduation_year'] = 2023
df.loc[df['graduation_year'] == 22, 'graduation_year'] = 2022
df.loc[df['graduation_year'] == 2013, 'graduation_year'] = 2023

In [8]:
# преобразоватение типа данных для даты и времени
df['dttime'] = pd.to_datetime(df['dttime']).apply(lambda x: x.replace(tzinfo=None))
df['dttime'].head(3)

0   2023-09-04 18:56:14
1   2023-09-04 18:56:19
2   2023-09-04 18:56:21
Name: dttime, dtype: datetime64[ns]

## Создание набора данных с информацией по инструментам для поиска работы

In [9]:
#df['id'] = df['dttime'].apply(id)

# создание айдишников по индексам (может и не обязательно), по ним потом создаю отдельную таблицу для информации о том, чем пользовались для поиска работы
df['id'] = [id(x) for x in df.index]

In [10]:
df.search_tools.unique()

array(['HH',
       'HH;SuperJob;LinkedIn;Хабр Карьера;Careerspace;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП;',
       'HH;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП', 'Не искал',
       'HH;SuperJob;GeekJob',
       'HH;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;Нетворкинг',
       'HH;LinkedIn;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП',
       'HH;Каналы/чаты с вакансиями в ТГ',
       'HH;SuperJob;LinkedIn;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ',
       'HH;SuperJob;Работа.ру;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;LinkedIn;Нетворкинг;Каналы/чаты от ЯП',
       'HH;Работа.ру;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП',
       'HH;SuperJob;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;LinkedIn',
       'HH;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ',
       'HH;SuperJob;Работа.ру;LinkedIn;Хабр Карьера;GeekJob;Careerspace;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП',
       'HH;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'HH;Работа.ру;LinkedIn;Хабр Карьера;GeekJob;Careerspace;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП',
       'HH;Хабр Карьера;Каналы/чаты с вакансиями в ТГ',
       'HH;Каналы/чаты от ЯП', 'HH;GeekJob;Каналы/чаты с вакансиями в ТГ',
       'HH;LinkedIn;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'HH;LinkedIn;Каналы/чаты с вакансиями в ТГ',
       'HH;Хабр Карьера;Каналы/чаты от ЯП',
       'HH;LinkedIn;Каналы/чаты от ЯП',
       'HH;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'HH;SuperJob;LinkedIn;Хабр Карьера;GeekJob;Careerspace;Каналы/чаты с вакансиями в ТГ;Нетворкинг;Каналы/чаты от ЯП',
       'HH;LinkedIn;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'подошла к руководителю отдела аналитики с просьбой постажироваться у них',
       'HH;SuperJob;LinkedIn;Каналы/чаты с вакансиями в ТГ',
       'LinkedIn;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'HH;LinkedIn;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ',
       'HH;Хабр Карьера;GeekJob;Careerspace;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;LinkedIn;Хабр Карьера;Каналы/чаты с вакансиями в ТГ',
       'HH;SuperJob',
       'HH;Хабр Карьера;Careerspace;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'LinkedIn', 'HH;LinkedIn;Хабр Карьера;Каналы/чаты от ЯП',
       'HH;Работа.ру;LinkedIn;Careerspace;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;',
       'HH;Хабр Карьера;GeekJob;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;Хабр Карьера',
       'HH;SuperJob;Хабр Карьера;Careerspace;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;Careerspace;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;SuperJob;LinkedIn;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Нетворкинг',
       'HH;SuperJob;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'Каналы/чаты от ЯП',
       'HH;Работа.ру;LinkedIn;Хабр Карьера;Каналы/чаты с вакансиями в ТГ;Каналы/чаты от ЯП',
       'HH;SuperJob;Каналы/чаты с вакансиями в ТГ'], dtype=object)

In [11]:
df_search_tools = df[['id', 'search_tools']]
df_search_tools.head()

              id                                       search_tools
0  1053822118160                                                 HH
1  1053822118192  HH;SuperJob;LinkedIn;Хабр Карьера;Careerspace;...
2  1053822118224                                                 HH
3  1053822118256  HH;Каналы/чаты с вакансиями в ТГ;Каналы/чаты о...
4  1053822118288                                           Не искал

In [12]:
df_search_tools['search_tools'] = [x.split(sep=';') for x in df_search_tools['search_tools']]

In [13]:
df_search_tools = df_search_tools.explode('search_tools').reset_index(drop=True)

In [14]:
df_search_tools

                id                   search_tools
0    1053822118160                             HH
1    1053822118192                             HH
2    1053822118192                       SuperJob
3    1053822118192                       LinkedIn
4    1053822118192                   Хабр Карьера
..             ...                            ...
358  1053822310608                       SuperJob
359  1053822310608  Каналы/чаты с вакансиями в ТГ
360  1053822310640                             HH
361  1053822310640                   Хабр Карьера
362  1053822310672                             HH

[363 rows x 2 columns]

## Выгрузка наборов данных в .csv

In [15]:
# общий набор данных
df.to_csv('data_employment.csv', index=False)

In [16]:
# набор данных с информацией по инструментам для поиска работы
df_search_tools.to_csv('data_search_tools.csv', index=False)